.svn/
Server/obj/
LibraryEditor/obj/Debug/LibraryEditor.LMain.resources
LibraryEditor/obj/Debug/LibraryEditor.Properties.Resources.resources
LibraryEditor/obj/Debug/LibraryEditor.csproj.FileListAbsolute.txt
LibraryEditor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LibraryEditor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LibraryEditor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LibraryEditor/obj/Release/LibraryEditor.LMain.resources
LibraryEditor/obj/Release/LibraryEditor.Properties.Resources.resources
LibraryEditor/obj/Release/LibraryEditor.csproj.FileListAbsolute.txt
Client/obj/Debug/Client.CMain.resources
Client/obj/Debug/Client.Properties.Resources.resources
Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Client/obj/Release/Client.CMain.resources
Client/obj/Release/Client.Properties.Resources.resources
Client/obj/Release/Client.csproj.FileListAbsolute.txt
AutoPatcherAdmin/obj/Debug/AutoPatcherAdmin.AMain.resources
AutoPatcherAdmin/obj/Debug/AutoPatcherAdmin.Properties.Resources.resources
AutoPatcherAdmin/obj/Debug/AutoPatcherAdmin.csproj.FileListAbsolute.txt
AutoPatcherAdmin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoPatcherAdmin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoPatcherAdmin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoPatcherAdmin/obj/Release/AutoPatcherAdmin.AMain.resources
AutoPatcherAdmin/obj/Release/AutoPatcherAdmin.Properties.Resources.resources
AutoPatcherAdmin/obj/Release/AutoPatcherAdmin.csproj.FileListAbsolute.txt
AutoPatcher/obj/Debug/AutoPatcher.AMain.resources
AutoPatcher/obj/Debug/AutoPatcher.Properties.Resources.resources
AutoPatcher/obj/Debug/AutoPatcher.csproj.FileListAbsolute.txt
AutoPatcher/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoPatcher/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoPatcher/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoPatcher/obj/Release/AutoPatcher.AMain.resources
AutoPatcher/obj/Release/AutoPatcher.Properties.Resources.resources
AutoPatcher/obj/Release/AutoPatcher.csproj.FileListAbsolute.txt
Server/bin/
